
.MatrixBox {
    display: none;
    margin: 0.1em;
    padding: 0.1rem 10rem;
    text-align: center;
    justify-content: center;
}

.MatrixButton {
    width: 150px;
    height: 150px;
    margin: 0.2rem;
    background-color: rgb(71, 61, 10);
    border-radius: 5px;
    box-shadow: blanchedalmond;
}

.MatrixIcon {
    zoom: 4;
}

.MatrixNumber {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    zoom: 4;
}

.Title {
    margin: 0.1rem 0.5rem 0.1rem 0.5rem;
    padding: 1.4rem 0.1rem;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(71, 61, 10);
    background-color: rgb(218, 214, 199);
    border-radius: 10px;
}

@media (max-width: 64rem) {
    .Title {
        font-size: 1.25rem;
    }
    .MatrixBox {
        padding: 0.1rem 0.25rem;
    }
	.MatrixButton {
		zoom: 0.5;
	}
	.MatrixIcon {
		zoom: 2;
	}
	.MatrixNumber {
		zoom: 2;
	}

  }

